/*
    Information on customizing the Django admin CSS:
    http://docs.djangoproject.com/en/dev/obsolete/admin-css/
*/
#header,
#branding h1  { color: #F0C132; }
#header { background: #063C56; }
#header h1 {
	padding-left: 0;
	margin-left: 15px;
	text-shadow: -2px 2px 2px #0D2130;
}
.module h2, .module caption {
	/* Replace section header gradient if you want. */
	/* background: #7CA0C7 url(img/default-bg.gif) repeat-x scroll left top; */
}
